{% extends 'index.html' %}

{% block body %}
<h3>Enter the item you'd like to add.</h3>
<form method="POST" action="/addItem" enctype="multipart/form-data">
    <p>Item Name</p>
    <input type="text" name="item" required>
    <br><br>
    <p>Boss Name</p>
    <input type="text" name="boss_name" required>
    <br><br>
    <p>Drop Rate</p>

    <div class="row">
        <div class="col-6">
            <input class="form-control" type="text" name="drop_rate" required>
        </div>
    </div>
    <br><br>
    <p>Kill Count</p>
    <input type="text" name="kill_count" required>
    <br><br>
    <input type="file" name="item_img" required>
    <br><br>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
{% endblock %}