{% extends 'index.html' %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h3>Enter the item you'd like to add.</h3>
    <form method="POST" action="/addItem" enctype="multipart/form-data">
        <p>Item Name</p>
        <input type="text" name="item" required>
        <br><br>
        <p>Boss Name</p>
        <input type="text" name="boss_name" required>
        <br><br>
        <p>Drop Rate</p>
        <input type="text" name="drop_rate" required>
        <br><br>
        <p>Kill Count</p>
        <input type="text" name="kill_count" required>
        <br><br>
        <input type="file" name="item_img" required>
        <br><br>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h3 class="display-4">{{message}}</h3>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}