{% extends 'index.html' %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2>List of all Items</h2>
    {% if items %}
    <ul>
        {% for name, item in items.items() %}
        <li>{{ name }}:
            {% for key, value in item.items() %}
            {% if key == 'img' %}
            <img src="{{file_location}}/{{value}}" class="itemImg">
            {% else %}
            <span>{{key}} : {{value}}</span>
            {% endif %}

            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No items yet. Add one to get started!</p>
    {% endif %}
</div>
{% endblock %}