{% extends 'index.html' %}

{% block body %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    
    <h1 class="display-4">Welcome to OSRS Tracker</h1>
    <p class="lead">An OSRS item tracker is a simple yet powerful way to keep tabs on your progress. <br>
        you can monitor your collection, spot missing items, and celebrate milestones <br>
        as you continue your adventure in Gielinor.
    </p>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h3 class="display-4">{{message}}</h3>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>


{% endblock %}
