{% extends 'index.html' %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h3>Remove an item from your collection</h3>

    {% if items %}
    <h4>Click the Remove button next to an item to delete it:</h4>
    <ul>
        {% for name, item in items.items() %}
        <li>
            <strong>{{ name }}</strong> - Boss: {{ item.boss_name }}, Drop Rate: {{ item.drop_rate }}, Kill Count: {{
            item.kill_count }}
            {% if item.img %}
            <img src="{{ url_for('static', filename='images/' + item.img) }}" class="itemImg">
            {% endif %}
            <form method="POST" action="/removeItems" style="display: inline;">
                <input type="hidden" name="item_name" value="{{ name }}">
                <input type="submit" value="Remove" class="btn btn-danger btn-sm">
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Add an item first before removing!</p>
    {% endif %}
</div>
{% endblock %}